
.devise-new {
  border-style: inset;
  margin: 2em auto 0;
  padding: 2em;
  background: black;
  color: white;
  width: 60vw;
}

.devise-new .field {
  margin: 3vh auto;
}

#devise_new_registration label{
  color: white;
}


#registration_header {
  color: white;
}

#error_explanation h2{

    font-size: 1.3rem;
  }


#error_explanation  ul {
      list-style: none;
}

.user_reviews {
  color: white;
}

.user_releases {
  color: white;
}
